{% extends 'base.html' %}

{% block content %}
  <h1 id="header-div">{{ header }}</h1>
  <p id="message-div">{{ message }}</p>

  <div class="my-4">
    <p class="lead">
      Этот проект — веб-приложение на Flask, которое позволяет пользователю взаимодействовать с искусственным интеллектом через простой и понятный интерфейс. Чат работает на базе DeepSeek API и возвращает ответы в реальном времени без перезагрузки страницы.
    </p>
  </div>

  <div class="text-center mt-5">
    <a href="/ai/chat" class="btn btn-lg btn-dark px-5 py-3">Общаться с ИИ</a>
  </div>
{% endblock %}