body { font-family: 'Segoe UI', sans-serif; }
.navbar { 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  background-color: #212529; /* Bootstrap gray-900 */
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #343a40; /* Bootstrap gray-800 */
}
main {
  flex: 1 0 auto; /* вытягивает контент, чтобы footer прижался вниз */
  background-color: #343a40;
}
footer {
  flex-shrink: 0;  /* не даём футеру ужиматься */
  background-color: #212529; /* Bootstrap gray-900 */
}


/* ==== Кастомный скроллбар для WebKit (Chrome, Edge) ==== */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #212529; /* Тёмный фон трека */
}
::-webkit-scrollbar-thumb {
  background-color: #495057;  /* Сама ползучка */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #adb5bd;
}

/* ==== Firefox ==== */
* {
  scrollbar-width: thin;
  scrollbar-color: #495057 #212529;
}